* {
	font-family:Source Sans Pro;
	/* box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #F7F7F7; */

}

body {
	background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
	color: #514B64;
	min-height: 100vh;
  }
  
code {
	background: #fff;
	padding: 0.2rem;
	border-radius: 0.2rem;
	margin: 0 0.3rem;
  }

.logosize {
	margin-top: -7px;
	margin-bottom: -7px;
	width: 74px;
	
}

.nav-link {
/* display: block; */
padding: 0rem 0rem;
}

.size {
	width: 20.31px;
	height: 20.31px;
	vertical-align:middle;
	margin-right: 0rem!important;
	
	/* margin-left: 100px; */
	
}

.menuhover {
	margin-right: 10px;
	
}

.menuhover:hover {

	
	background-color: rgba(255, 255, 255, 0.3)
}


#activetab {
	color: white;
}

.flex-container {
	/* We first create a flex layout context */
	display: flex;
	
	/* Then we define the flow direction 
	   and if we allow the items to wrap 
	 * Remember this is the same as:
	 * flex-direction: row;
	 * flex-wrap: wrap;
	 */
	flex-flow: row wrap;
	
	/* Then we define how is distributed the remaining space */
	justify-content: space-around;
	
	padding: 0;
	margin: 0;
	list-style: none;
  }
  


  .navimg {
	  width: 39px;
	  height: 34px;
  }

  .names {
	  font-size: 39px;
  }


  .tname {
	  text-align: center;
  }

 .searchbox {
	position: relative;
	width: 50%;
	left: 25%;
	top: 10px;
 }