.Ds_Store
.ipynb_checkpoints
*.ipynb
venv
nvdcve*
nvdcpe*
allitems*
config.ini
*.log
test.py
env
__pycache__
.idea/duga.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
