{% extends 'base.html' %}
{% set active_page = "about" %}

{% block title %}
<title>Duga - About</title>
{% endblock title %}

{% block content %}
 <section>
        <svg xmlns="http://www.w3.org/2000/svg" width="1503.147" height="498.5" viewBox="0 0 1503.147 498.5">
        <g id="Group_398" data-name="Group 398" transform="translate(-108.853 -160)">
            <g id="Group_394" data-name="Group 394" transform="translate(-60)">
            <g id="terminal" transform="translate(170.486 284.388)">
                <path id="Path_450" data-name="Path 450" d="M4,34.128,21.56,19.564,4,5" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                <line id="Line_34" data-name="Line 34" x2="23.461" transform="translate(19.539 38.997)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
            </g>
            <text id="Marcel_Ismael" data-name="Marcel Ismael" transform="translate(341 320)" font-size="39" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-111.54" y="0">Marcel Ismael</tspan></text>
            </g>
            <text id="Developers" transform="translate(494 211)" stroke="#013044" stroke-width="2" font-size="50" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-117.125" y="0">Developers</tspan></text>
            <text id="Contact_Us" data-name="Contact Us" transform="translate(1332 211.5)" stroke="#013044" stroke-width="2" font-size="50" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-113.125" y="0">Contact Us</tspan></text>
            <line id="Line_35" data-name="Line 35" y2="496" transform="translate(960.5 162.5)" fill="none" stroke="#707070" stroke-width="7"/>
            <g id="Group_395" data-name="Group 395" transform="translate(-60 210)">
            <g id="terminal-2" data-name="terminal" transform="translate(170.486 284.388)">
                <path id="Path_450-2" data-name="Path 450" d="M4,34.128,21.56,19.564,4,5" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                <line id="Line_34-2" data-name="Line 34" x2="23.461" transform="translate(19.539 38.997)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
            </g>
            <text id="Lamis_Ahmad" data-name="Lamis Ahmad" transform="translate(341 320)" font-size="39" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-110.37" y="0">Lamis Ahmad</tspan></text>
            </g>
            <g id="Group_396" data-name="Group 396" transform="translate(350)">
            <g id="terminal-3" data-name="terminal" transform="translate(170.486 284.388)">
                <path id="Path_450-3" data-name="Path 450" d="M4,34.128,21.56,19.564,4,5" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                <line id="Line_34-3" data-name="Line 34" x2="23.461" transform="translate(19.539 38.997)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
            </g>
            <text id="Abdelrahim_Ahmad" data-name="Abdelrahim Ahmad" transform="translate(385 320)" font-size="39" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-156.488" y="0">Abdelrahim Ahmad</tspan></text>
            </g>
            <g id="Group_397" data-name="Group 397" transform="translate(350 210)">
            <g id="terminal-4" data-name="terminal" transform="translate(170.486 284.388)">
                <path id="Path_450-4" data-name="Path 450" d="M4,34.128,21.56,19.564,4,5" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                <line id="Line_34-4" data-name="Line 34" x2="23.461" transform="translate(19.539 38.997)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
            </g>
            <text id="Nashwan_Sulaiman" data-name="Nashwan Sulaiman" transform="translate(381 320)" font-size="39" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-156.702" y="0">Nashwan Sulaiman</tspan></text>
            </g>
            <text id="Duga_cve_duga.com" data-name="Duga@cve_duga.com" transform="translate(1363 440)" font-size="55" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="-248.985" y="0">Duga@cve_duga.com</tspan></text>
        </g>
        </svg>
        
</section>
{% endblock content %}