{% extends 'base.html' %}
{% set active_page = "dashboard" %}

{% block title %}
<title>Duga - Dashboard</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock title %}

{% block content %}

<div class = "wrapper">
	<section class="statistic statistic2">
		<div class="row d-flex justify-content-center">
			<div class="col-md-4 col-lg-3">
				<div class="statistic__item statistic__item--blue">
					<h2 class="number">{{ alarms_count }}</h2>
					<span class="desc">Number of all alarms</span>
				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<div class="statistic__item statistic__item--grey">
					<h2 class="number">{{ unresolved_alarms_count }}</h2>
					<span class="desc">Number of unresolved alarms</span>
				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<div class="statistic__item statistic__item--orange">
					<h2 class="number">{{ systems_count }}</h2>
					<span class="desc">Number of Systems</span>
				</div>
			</div>
		</div>
	</section>
<div>

	<section class="section__content">
		<div class="row">
			<div class="col-lg-6">
				<div class="au-card m-b-20">
					<div class="au-card-inner">
						<h3 class="title-2 m-b-10">Number of Alarms (Last Month)</h3>
						<canvas id="numberofalarms_chart"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="au-card m-b-20">
					<div class="au-card-inner">
						<h3 class="title-2 m-b-10">Severity Types</h3>
						<canvas id="severitytypes-chart"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="au-card m-b-20">
					<div class="au-card-inner">
						<h3 class="title-2 m-b-10">chart2</h3>
						<canvas id="chart2"></canvas>
					</div>
				</div>
			</div>
	</section>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock content %}