
.dbcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.dbchart {
	display: flex;

}

.alcontainer {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	padding: 10px 10px 10px 10px
}

.altable {
	margin-bottom:  10px;
	margin-top:   10px;
	padding: 10px 10px 10px 10px;

}

/*.dbcontainer > * {
  flex: 1 100%;
}*/


/*.dbcontainer {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}*/